.headerContainer {
  padding: 4rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* gap: 0.1rem; */
  
}

.headerTitle {
    color: rgba(128, 0, 128, 0.845);
    font-size: 2.2rem;
}

.headerImage {
    width: 38%;
}

@media(max-widht: 765px) {
    .headerImage {
        width: 100%;      
        
    }
}
