.menuContainer {
  background-image: linear-gradient(
    to bottom,
    rebeccapurple,
    steelblue,
    turquoise
  );
  display: flex;
  gap: 10rem;
  align-items: center;
  justify-content: center;
  padding: 2rem;
}

.menuItem {
  list-style: none;
}

.menuLink {
  text-decoration: none;
  color: #fff;
  font-size: 2.2rem;
  font-weight: 700;
}

.menuLink:hover {
  color: rebeccapurple;
  border-bottom: dotted 4px rebeccapurple;
}

@media (max-width: 765px) {
  .menuContainer {
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }
}
