.title {
  font-size: 1.7rem;
  text-align: justify;
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 10px;
  background-image: linear-gradient(
    to bottom,
    rebeccapurple,
    steelblue,
    rebeccapurple
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  color: black;
}

.sobreDoacoes {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 15px;
}

.bioImg {
  font-size: 1.5rem;
  padding: 2rem;
  width: 550px;
}

.titleVideo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 1.7rem;
  text-align: justify;
  margin-left: 20px;
  margin-bottom: 80px;
  background-image: linear-gradient(
    to bottom,
    rebeccapurple,
    steelblue,
    rebeccapurple
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  color: black;
}

.videoYouTube {
  padding: 30px;
}

.doacoesContainer {
  padding: 8.9rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4rem;
  text-align: center;
}

.cardDoacoes {
  width: 100%;
}

.cardTitle {
  padding: 1.5rem;
  font-size: 1.5rem;
  background-image: linear-gradient(
    to bottom,
    rebeccapurple,
    steelblue,
    rebeccapurple
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  color: black;
}

.cardText {
  font-size: 1.2rem;
  align-items: center;
  color: black;
  text-align: justify;
  font-weight: bold;
}

.sobreImagemLacreDoBem {
  width: 17%;
}

@media (max-width: 765px) {
  .doacoesContainer {
    display: flex;
    flex-direction: column;
  }
}
